*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
/out

# File contains main function
src/main/kotlin/GelbooruParserJson.kt

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Exclude gradle-wrapper.jar file
!gradle-wrapper.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE Files
.idea

# Main class
GelbooruParserJson.kt